body {
    margin: 0;
    padding: 0;
}


.sticky {
    position: fixed;
    top: 2%;
    left: 25%;
    width: 100%;
}



canvas{
    height: 100%;
}


.leaflet-container {
    height: 120vh;
    width: 100vw;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

